In [1]:
%pylab inline 
import pandas as pd 
import sqlite3

Populating the interactive namespace from numpy and matplotlib

In [2]:
conn = sqlite3.connect('my_db.db')
c = conn.cursor()

In [3]:
c.execute("""CREATE TABLE my_db
(id TEXT, my_var1 TEXT, my_var2 INT)""")

In [4]:
c.execute("INSERT INTO my_db VALUES ('ID_2352532','YES',4)")

In [7]:
for row in c.execute("SELECT * FROM my_db"):
    print(row)

(u'ID_2352532', u'YES', 4)

In [8]:
multi_lines =[ ('ID_2352533','YES', 1),
               ('ID_2352534','NO', 0),
               ('ID_2352535','YES', 3),
               ('ID_2352536','YES', 9),
               ('ID_2352537','YES', 10)
              ]

In [9]:
c.executemany('INSERT INTO my_db VALUES (?,?,?)', multi_lines)

In [11]:
conn.commit()

In [13]:
conn.close()

In [14]:
conn = sqlite3.connect('my_db.db')
c = conn.cursor()

In [15]:
t = ('NO', "ID_2352533", )

In [16]:
c.execute('UPDATE my_db SET my_var1=? WHERE id=?',t)

In [17]:
for row in c.execute("SELECT * FROM my_db"):
    print(row)

(u'ID_2352532', u'YES', 4)
(u'ID_2352533', u'NO', 1)
(u'ID_2352534', u'NO', 0)
(u'ID_2352535', u'YES', 3)
(u'ID_2352536', u'YES', 9)
(u'ID_2352537', u'YES', 10)

In [18]:
conn.total_changes

1

In [19]:
t = ('NO',)

In [27]:
c.execute("DELETE FROM my_db WHERE my_var1=?",t)

In [28]:
conn.total_changes

3

In [29]:
for row in c.execute("SELECT * FROM my_db"):
    print(row)

(u'ID_2352532', u'YES', 4)
(u'ID_2352535', u'YES', 3)
(u'ID_2352536', u'YES', 9)
(u'ID_2352537', u'YES', 10)

In [30]:
c.execute("ALTER TABLE my_db ADD COLUMN 'my_var3' TEXT")

In [31]:
conn.commit()

In [32]:
c.execute("SELECT * FROM my_db")

In [36]:
col_name_list = [tup[0] for tup in c.description]

In [37]:
col_name_list

['id', 'my_var1', 'my_var2', 'my_var3']

In [38]:
conn.close()

In [40]:
conn = sqlite3.connect('my_db.db')
c = conn.cursor()
for row in c.execute("SELECT * FROM my_db"):
    print(row)

(u'ID_2352532', u'YES', 4, None)
(u'ID_2352535', u'YES', 3, None)
(u'ID_2352536', u'YES', 9, None)
(u'ID_2352537', u'YES', 10, None)

In [43]:
pd.read_sql_query("SELECT * FROM my_db", conn).set_index('id')

           my_var1  my_var2 my_var3
id
ID_2352532     YES        4    None
ID_2352535     YES        3    None
ID_2352536     YES        9    None
ID_2352537     YES       10    None

In [44]:
conn.close()

In [45]:
conn = sqlite3.connect('my_db.db')
c = conn.cursor()
for row in c.execute('SELECT * FROM my_db ORDER BY my_var2'):
    print row

(u'ID_2352535', u'YES', 3, None)
(u'ID_2352532', u'YES', 4, None)
(u'ID_2352536', u'YES', 9, None)
(u'ID_2352537', u'YES', 10, None)

In [46]:
t = ('YES',7)
for row in c.execute("""SELECT * FROM my_db WHERE my_var1=? AND
                    my_var2 <= ?""",t):
    print(row)

(u'ID_2352532', u'YES', 4, None)
(u'ID_2352535', u'YES', 3, None)

In [48]:
'{} = {}'.format('2','2')

'2 = 2'

In [56]:
t = ['YES',7]

In [63]:
t

['YES', 7]

In [64]:
"""
SELECT * FROM my_db WHERE my_var1={} AND
                    my_var2 <= {}""".format(t[0],t[1])

'\nSELECT * FROM my_db WHERE my_var1=YES AND\n                    my_var2 <= 7'

In [51]:
t

('YES', 7)

In [65]:
t = ('YES',7,)
c.execute('SELECT * FROM my_db WHERE my_var1=? AND my_var2 <= ?', t)
rows = c.fetchall()
for r in rows:
    print r

(u'ID_2352532', u'YES', 4, None)
(u'ID_2352535', u'YES', 3, None)

In [66]:
c.execute?

In [74]:
query = 'SELECT * FROM my_db WHERE my_var1={0} AND my_var2 <= {1}'.format(*t)

In [85]:
query = "SELECT * FROM my_db WHERE my_var1='{0}' AND my_var2 <= {1}".format(*t)

In [86]:
pd.read_sql_query(query,conn)

           id my_var1  my_var2 my_var3
0  ID_2352532     YES        4    None
1  ID_2352535     YES        3    None

In [87]:
t

('YES', 7)